In [2]:
import numpy as np
import pandas as pd
scroes = np.random.randint(50, 100,size=(50,5))
scores_df = pd.DataFrame(scroes,
             columns=['國文', '英文', '數學', '地理', '歷史'],
             index=range(1,51))
scores_df
sum_values = scores_df.sum(axis=1)
mean_values = scores_df.mean(axis=1)
scores_df['總分'] = sum_values
scores_df['平均'] = mean_values
scores_df

    國文  英文  數學  地理  歷史   總分    平均
1   77  52  93  87  61  370  74.0
2   72  60  93  57  87  369  73.8
3   53  99  71  69  79  371  74.2
4   76  57  82  58  72  345  69.0
5   66  58  53  65  87  329  65.8
6   62  88  57  72  68  347  69.4
7   76  81  74  83  57  371  74.2
8   99  75  80  76  67  397  79.4
9   88  92  59  87  93  419  83.8
10  81  75  83  62  57  358  71.6
11  73  56  87  68  72  356  71.2
12  98  72  84  85  94  433  86.6
13  76  93  78  54  66  367  73.4
14  55  51  57  99  58  320  64.0
15  74  88  84  99  97  442  88.4
16  73  69  94  56  75  367  73.4
17  65  65  98  98  88  414  82.8
18  77  70  81  51  71  350  70.0
19  80  55  71  62  77  345  69.0
20  52  51  66  60  71  300  60.0
21  98  64  94  75  65  396  79.2
22  62  50  75  93  99  379  75.8
23  89  73  66  50  79  357  71.4
24  97  69  68  95  97  426  85.2
25  57  50  84  89  53  333  66.6
26  92  88  92  56  87  415  83.0
27  97  64  88  90  79  418  83.6
28  79  77  57  84  50  347  69.4
29  56  67  66  90  84  363  72.6
30  73  83  88  79  59  382  76.4
31  52  96  60  54  92  354  70.8
32  89  66  89  59  78  381  76.2
33  83  56  98  69  94  400  80.0
34  59  54  83  75  52  323  64.6
35  97  59  59  93  59  367  73.4
36  57  90  77  74  71  369  73.8
37  58  96  89  93  90  426  85.2
38  92  84  61  57  77  371  74.2
39  88  73  96  87  93  437  87.4
40  93  81  93  61  98  426  85.2
41  66  82  84  63  69  364  72.8
42  67  86  70  72  92  387  77.4
43  51  94  89  67  56  357  71.4
44  96  63  69  65  99  392  78.4
45  65  85  88  51  93  382  76.4
46  50  51  55  50  80  286  57.2
47  70  87  86  94  78  415  83.0
48  94  54  72  94  90  404  80.8
49  99  93  87  50  92  421  84.2
50  69  80  92  97  99  437  87.4

In [3]:
scores_df.sort_values(by='總分',ascending=False).iloc[:5]

    國文  英文  數學  地理  歷史   總分    平均
15  74  88  84  99  97  442  88.4
50  69  80  92  97  99  437  87.4
39  88  73  96  87  93  437  87.4
12  98  72  84  85  94  433  86.6
40  93  81  93  61  98  426  85.2

In [6]:
scores_df.sort_values(by='總分',ascending=False).iloc[-5:]

    國文  英文  數學  地理  歷史   總分    平均
5   66  58  53  65  87  329  65.8
34  59  54  83  75  52  323  64.6
14  55  51  57  99  58  320  64.0
20  52  51  66  60  71  300  60.0
46  50  51  55  50  80  286  57.2

In [8]:
#使用subscript[],過濾資料
scores_df[scores_df['平均'] < 80]

    國文  英文  數學  地理  歷史   總分    平均
1   77  52  93  87  61  370  74.0
2   72  60  93  57  87  369  73.8
3   53  99  71  69  79  371  74.2
4   76  57  82  58  72  345  69.0
5   66  58  53  65  87  329  65.8
6   62  88  57  72  68  347  69.4
7   76  81  74  83  57  371  74.2
8   99  75  80  76  67  397  79.4
10  81  75  83  62  57  358  71.6
11  73  56  87  68  72  356  71.2
13  76  93  78  54  66  367  73.4
14  55  51  57  99  58  320  64.0
16  73  69  94  56  75  367  73.4
18  77  70  81  51  71  350  70.0
19  80  55  71  62  77  345  69.0
20  52  51  66  60  71  300  60.0
21  98  64  94  75  65  396  79.2
22  62  50  75  93  99  379  75.8
23  89  73  66  50  79  357  71.4
25  57  50  84  89  53  333  66.6
28  79  77  57  84  50  347  69.4
29  56  67  66  90  84  363  72.6
30  73  83  88  79  59  382  76.4
31  52  96  60  54  92  354  70.8
32  89  66  89  59  78  381  76.2
34  59  54  83  75  52  323  64.6
35  97  59  59  93  59  367  73.4
36  57  90  77  74  71  369  73.8
38  92  84  61  57  77  371  74.2
41  66  82  84  63  69  364  72.8
42  67  86  70  72  92  387  77.4
43  51  94  89  67  56  357  71.4
44  96  63  69  65  99  392  78.4
45  65  85  88  51  93  382  76.4
46  50  51  55  50  80  286  57.2

In [9]:
#平均80以下,一科不及格的
scores_df[(scores_df['平均'] < 80) & (scores_df['歷史'] < 70)]

    國文  英文  數學  地理  歷史   總分    平均
1   77  52  93  87  61  370  74.0
6   62  88  57  72  68  347  69.4
7   76  81  74  83  57  371  74.2
8   99  75  80  76  67  397  79.4
10  81  75  83  62  57  358  71.6
13  76  93  78  54  66  367  73.4
14  55  51  57  99  58  320  64.0
21  98  64  94  75  65  396  79.2
25  57  50  84  89  53  333  66.6
28  79  77  57  84  50  347  69.4
30  73  83  88  79  59  382  76.4
34  59  54  83  75  52  323  64.6
35  97  59  59  93  59  367  73.4
41  66  82  84  63  69  364  72.8
43  51  94  89  67  56  357  71.4