In [8]:
import numpy as np
import pandas as pd
scroes = np.random.randint(50, 100,size=(50,5))
scores_df = pd.DataFrame(scroes,
             columns=['國文', '英文', '數學', '地理', '歷史'],
             index=range(1,51))
scores_df
sum_values = scores_df.sum(axis=1)
mean_values = scores_df.mean(axis=1)
scores_df['總分'] = sum_values
scores_df['平均'] = mean_values
scores_df

    國文  英文  數學  地理  歷史   總分    平均
1   96  87  95  95  72  445  89.0
2   67  72  99  67  71  376  75.2
3   74  88  77  93  77  409  81.8
4   67  79  91  80  80  397  79.4
5   95  64  94  68  73  394  78.8
6   62  67  92  92  85  398  79.6
7   92  82  71  99  69  413  82.6
8   94  82  75  85  74  410  82.0
9   57  57  90  74  95  373  74.6
10  65  70  84  88  59  366  73.2
11  81  63  61  87  99  391  78.2
12  75  78  79  87  99  418  83.6
13  89  79  58  86  65  377  75.4
14  81  60  62  74  89  366  73.2
15  68  71  74  67  97  377  75.4
16  67  90  63  57  67  344  68.8
17  50  58  69  79  68  324  64.8
18  52  72  92  54  95  365  73.0
19  53  86  84  53  79  355  71.0
20  67  85  77  68  67  364  72.8
21  83  77  55  82  85  382  76.4
22  63  65  94  63  65  350  70.0
23  64  70  78  84  68  364  72.8
24  97  91  72  74  91  425  85.0
25  79  59  95  50  59  342  68.4
26  66  58  52  60  98  334  66.8
27  54  86  76  93  91  400  80.0
28  90  55  83  95  96  419  83.8
29  85  93  90  81  87  436  87.2
30  63  64  99  85  95  406  81.2
31  58  90  80  74  54  356  71.2
32  64  83  95  61  58  361  72.2
33  87  92  75  77  91  422  84.4
34  65  59  59  89  96  368  73.6
35  78  72  95  66  60  371  74.2
36  65  87  70  57  95  374  74.8
37  63  98  90  56  59  366  73.2
38  83  89  91  79  82  424  84.8
39  97  50  75  66  59  347  69.4
40  97  93  51  55  59  355  71.0
41  52  77  55  94  95  373  74.6
42  99  99  86  87  91  462  92.4
43  77  66  74  98  94  409  81.8
44  79  66  97  89  78  409  81.8
45  80  56  59  83  89  367  73.4
46  77  58  56  74  82  347  69.4
47  71  51  91  74  90  377  75.4
48  83  94  86  81  78  422  84.4
49  65  98  91  93  76  423  84.6
50  54  87  78  59  90  368  73.6

In [9]:
#50~59分
scores_df
scores_df.style\
    .format(precision=2)\
    .highlight_between(left=50,right=59)\
    .to_excel('abc.xlsx')

In [10]:
#50~59分
scores_df
scores_df.style\
    .format(precision=2)\
    .highlight_between(left=50,right=59)\

In [12]:
scores_df
scores_df.style\
    .format(precision=2)\
    .highlight_between(left=50,right=59,props='color:white; background-color:#DB4D6D;')\
    .highlight_max(axis=1,subset=scores_df.columns[:5],props='color:white; background-color:#86C166;')

In [28]:
say = np.random.randint(20000, 2000000,size=(50,5))
say_df = pd.DataFrame(say,
             columns=['國文', '英文', '數學', '地理', '歷史'],
             index=range(1,51))
say_df

         國文       英文       數學       地理       歷史
1   1863867  1647113  1797199   317570   164346
2    185242  1973039   947682  1341486   735356
3    246600  1201942   246869  1525348  1949454
4     36123  1118467  1229424  1177489   466586
5   1427592   293352   202576  1304611  1844141
6   1646910    71282  1690399  1005870    44150
7   1296104   381505  1974039  1932059    65858
8    550897  1520119   209306  1503793  1079599
9   1212493   939940   470783   108061  1534510
10   620964   356615    29258   783164   652098
11  1615148   964069   615951  1900293  1873337
12   345163  1413315   753619  1320696  1338752
13  1838869  1907808  1800911   390066  1130301
14   676048  1012686   249473  1497801   406365
15   873292  1986275   408383   850479   447840
16  1286453  1098394  1172672   545974   709708
17   833838  1966050  1761961  1373453   821985
18   326348   283313   287489    99798   747965
19   898684  1943637  1747285   441471   326952
20  1924475   166337   643798  1498482   746777
21  1146753  1310120  1149830   714212   937813
22  1962059   959493  1486932   922301  1587146
23  1706602   686979  1254262   218994   834436
24   706651   187398  1598407  1943171  1382352
25   455526  1042568   457227   387976   195981
26  1923340   553948   717698   218448  1686608
27  1371261   109118   964570   728653  1783483
28  1726662   919902  1374698  1079825  1234214
29  1285533   900074   897973   822297  1774809
30   386400  1835801  1511832  1796985   108127
31  1260600   582185   147824   527190   210010
32  1931625  1499527   703077  1295291   713977
33   204866  1125878  1145808   527022   871461
34    54794  1654740   652943  1436816   563333
35  1738145  1116417   737914  1403825   303597
36  1209272   758081   654820   841484  1484636
37   356568  1970293  1998850   194725  1856223
38  1203547   570691  1992846  1182926  1889395
39   504497   672354   604586   863987   832639
40   267000  1580381  1530981   407174   740557
41   542085  1868586  1850195  1258620   699942
42  1497522  1621969   798033  1229214  1923187
43   469520  1272189  1743015   520974   925150
44  1461583  1387381  1589195   355521   497734
45   289281  1049325   418767   645114  1222019
46  1009248  1233123  1543696  1662703   765632
47  1788336  1645803   237409   291596   814772
48  1932031   770927    86942  1520689   921807
49   566010   448974    80744   152695   589499
50    23245   926177   571676  1345703   507830

In [30]:
say_df
say_df.style\
    .format(precision=2)\
    .highlight_between(left=1000000,right=1500000,props='color:white; background-color:#DB4D6D;')\
    .highlight_max(axis=1,subset=scores_df.columns[:5],props='color:white; background-color:#86C166;')